* {
    margin: 0;
    padding: 0;
}
// @font-face {
//     font-family: 'Retrovert';
//     src: url('../typo/Retrovert.ttf') format('truetype'),
//          url('../typo/Retrovert.otf') format('opentype');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Retrocket';
//     src: url('../typo/Retrocket.ttf') format('truetype'),
//          url('../typo/Retrocket.otf') format('opentype');
//     font-weight: normal;
//     font-style: normal;
// }



body {
    font-family: 'Retrocket', sans-serif; /* Police par défaut pour tout le corps du texte */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Retrovert', sans-serif; /* Police des titres */
}



$dark-blue: #09205A;
$purple: #6D10A3;
$light-blue: #5395B8;
$orange: #F4A338;
$red: #D14022;
$yellow: #FBD75F;
$white: #ffffff;





/* ---------------------------- Header Navigation Améliorée --------------------------- */
header {
    background-color: $dark-blue;
    padding: 15px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease, padding 0.3s ease;
    font-family: 'Retrovert', sans-serif;

    &:hover {
        background-color: darken($dark-blue, 10%);
        padding: 10px 0;
    }

    nav {
        display: flex;
        justify-content: space-between; /* Permet d'écarter le logo et le menu */
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;

        .logo {
            margin-left: 20px; /* Ajuste l'espace autour du logo */

            a {
                display: inline-block;

                img {
                    max-height: 60px; /* Taille du logo */
                    width: auto;
                }
            }
        }

        ul {
            list-style: none;
            display: flex;
            margin-right: 20px; /* Ajuste l'espace autour du menu */

            li {
                margin: 0 20px;
                position: relative;

                a {
                    text-decoration: none;
                    color: $white;
                    font-size: 18px;
                    padding: 10px 20px;
                    transition: background-color 0.3s ease, color 0.3s ease;

                    &:hover {
                        background-color: $purple;
                        color: $light-blue;
                        border-radius: 8px;
                    }
                }

                /* Animation au survol */
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                    width: 100%;
                    height: 3px;
                    background-color: $purple;
                    opacity: 0;
                    transform: scaleX(0);
                    transition: all 0.3s ease;
                }

                &:hover::before {
                    opacity: 1;
                    transform: scaleX(1);
                }
            }
        }
    }
}


/* Responsive Navigation */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin: 10px 0;
    }

    header {
        padding: 20px 0;
    }
}



/* ---------------------------- A propos --------------------------- */
/* Conteneur principal qui regroupe l'image et le texte */
.about-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;  /* Alignement du texte et de l'image sur le haut */
    margin: 30px auto;
    max-width: 1100px;  /* Limite de largeur totale de la section */
    gap: 20px;  /* Espace entre l'image et le bloc texte */
}

/* Image complètement à gauche */
.about-image {
    flex: 0 0 auto;
    img {
        max-width: 300px;  /* Ajuster la largeur maximale de l'image */
        height: auto;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 140px;
        margin-right: 55px;
        margin-left: -65px;  
        border: 4px solid $orange; // Bordure légèrement épaisse en orange
        box-shadow: 0 0 15px $orange, 0 0 30px rgba(244, 163, 56, 0.5), 0 0 45px rgba(244, 163, 56, 0.3);  
    }
}

/* Bloc about */
.about-page {
    background-image: url('media/fond retro 2 (2).jpg');  // Remplace par le chemin de ton image
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 100px auto; /* Centrage du cadre avec espace par rapport au header */
    text-align: center;
    
    /* Main Title */
    h1 {
        font-size: 40px;
        margin-bottom: 30px;
        color: $yellow;
        position: relative;
        text-align: center;  // Centrage du texte

        /* Souligner le titre */
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -10px;
            transform: translateX(-50%);
            width: 80px;
            height: 4px;
            background-color: $purple;
            border-radius: 2px;
        }
    }

    /* Section - Presentation */
    .presentation {
        background-color: $yellow;  // Fond de couleur
        border-radius: 12px;
        padding: 40px;
        margin-top: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        text-align: center;  // Centrage du texte
    
        // Bordure orange avec effet néon
        border: 4px solid $orange; // Bordure légèrement épaisse en orange
        box-shadow: 0 0 15px $orange, 0 0 30px rgba(244, 163, 56, 0.5), 0 0 45px rgba(244, 163, 56, 0.3);  // Effet néon autour de la bordure
    }

        h2 {
            color: $dark-blue;  // Couleur bleue claire pour le titre "Qui sommes-nous ?"
            font-size: 30px;
            margin-bottom: 20px;
            text-align: center;  // Centrage du texte
        }

        .p {
            font-size: 18px;
            color: $dark-blue;
            margin-bottom: 25px;
            line-height: 1.8;
            text-align: center;  // Centrage du texte
        }

    }


/* Responsive Design */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;  /* Empiler l'image et le texte sur mobile */
        align-items: center;
    }

    .about-image {
        margin-bottom: 20px;  /* Espace en bas de l'image sur mobile */
        img {
            max-width: 100%;  /* Assurez que l'image prenne toute la largeur disponible sur mobile */
        }
    }

    .about {
        padding: 20px;
        max-width: 100%;

        h1 {
            font-size: 32px;
        }

        .presentation {
            padding: 20px;

            h2 {
                font-size: 24px;
            }

            p {
                font-size: 16px;
            }
        }
    }
}



/* ---------------------------- Footer --------------------------- */
.footer {
    background-color: $dark-blue;
    color: $white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;

    p {
        margin: 0;
        font-size: 16px;
        color: $white;
    }

    a {
        color: $light-blue;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

/* ---------------------------- Shop --------------------------- */
.shop {
    padding-top: 120px;
    background-color: $light-blue;
    text-align: center;

    /* Titre principal de la page et phrase introductive */
    h1 {
        font-size: 42px;
        color: $dark-blue;
        margin-bottom: 10px;
        animation: fadeInDown 1s ease-out;
    }

    p.introduction {
        font-size: 20px;
        color: $purple;
        margin-bottom: 30px;
        animation: fadeInUp 1s ease-out;
    }

    /* Conteneur des produits */
    .product-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 2rem;

        /* Style de chaque produit */
        .product {
            background-color: $white;
            border: 2px solid $dark-blue; /* Bordure avec un meilleur contraste */
            border-radius: 12px;
            margin: 1rem;
            padding: 1rem;
            width: calc(25% - 2rem);
            text-align: center;
            min-height: 450px;
            box-shadow: 0 0 10px $orange; /* Ombre plus vive */
            transition: transform 0.3s ease;
            animation: fadeIn 1s ease-out;

            &:hover {
                transform: scale(1.05);
            }

            img {
                max-width: 100%;
                max-height: 200px;
                object-fit: cover;
                border-radius: 8px;
                margin-bottom: 1rem;
                transition: transform 0.3s ease;

                &:hover {
                    transform: rotate(5deg) scale(1.05);
                }
            }

            h2 {
                margin-bottom: 0.5rem;
                color: white; 
                background-color: $purple; /* Fond clair par défaut */
                padding: 0.5rem;
                border-bottom: 2px solid $purple;
                transition: background-color 0.3s ease, color 0.3s ease;
            
                &:hover {
                    color: $white; /* Inverser les couleurs : texte devient bleu foncé */
                    background-color: lighten($purple, 40%); /* Fond devient la couleur violette de base */
                }
            }
            
            .product-description {
                margin: 1rem 0;
                padding: 1rem;
                border: 1px solid $light-blue; /* Bordure en bleu clair pour rester dans la charte */
                border-radius: 8px;
                background-color: lighten($light-blue, 20%); /* Fond bleu clair atténué pour un meilleur contraste */
                transition: background-color 0.3s ease, box-shadow 0.3s ease;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            
                &:hover {
                    background-color: $light-blue; /* Couleur de fond plus marquée au survol */
                    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
                }
            
                p {
                    margin-bottom: 0.5rem;
                    color: $dark-blue; /* Texte avec une couleur plus foncée pour le contraste */
                }
            
                .price {
                    font-weight: bold;
                    color: $purple; /* Couleur du prix alignée avec la charte graphique */
                    border-top: 2px solid $dark-blue; /* Bordure supérieure pour séparer la section prix */
                    margin-top: 1rem;
                    padding-top: 0.5rem;
                    transition: color 0.3s ease;
            
                    &:hover {
                        color: $orange; /* Changement de couleur au survol pour attirer l'attention */
                    }
                }
            }
            

            button {
                background-color: $purple;
                color: white;
                border: none;
                padding: 0.5rem 1rem;
                cursor: pointer;
                margin-top: 1rem;
                transition: background-color 0.3s ease, transform 0.3s ease;

                &:hover {
                    background-color: darken($purple, 10%);
                    transform: translateY(-5px);
                }
            }
        }
    }

    /* Animations */
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeInDown {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

/*--------------------------------INDEX ------------------------------------------------*/

.index-page {
    background-color: $purple;  // Utilisation de la variable purple pour le fond
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
.index {
    // Variables de couleurs
$dark-blue: #09205A;
$purple: #6D10A3;
$light-blue: #5395B8;
$orange: #F4A338;
$red: #D14022;
$yellow: #FBD75F;
$white: #ffffff;

margin-top: 20px;
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    main {
        // Hero Section
        .hero {
            color: $white;
            text-align: center;
            padding: 50px 20px;
            padding-top: 180px;
            background-image: url('media/image header retro.jpg');
            background-size: cover; // L'image couvre toute la zone du bandeau
            background-position: center; // Centre l'image
            background-repeat: no-repeat; // Empêche la répétition de l'image
            

            .hero-content {
                max-width: 800px;
                margin: 0 auto;

                h1 {
                    font-size: 48px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 20px;
                    margin-bottom: 30px;
                }

                .btn-primary {
                    background-color: $dark-blue;
                    color: $white;
                    padding: 10px 20px;
                    border-radius: 5px;
                    text-decoration: none;
                    font-size: 18px;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: $light-blue;
                    }
                }
            }
        }

        // Categories Section
        .categories {
            padding: 50px 20px;
            text-align: center;

            h2 {
                font-size: 36px;
                margin-bottom: 30px;
                color: $white;
            }

            .category-list {
                display: flex;
                justify-content: center;
                gap: 20px;

                .category-item {
                    width: 200px;
                    height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $white;
                    font-size: 24px;
                    border-radius: 8px;
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                    transition: width 2s, height 2s;

                    &:hover {
                        width: 220px;
                        height: 220px;
                    }
                }
            }
        }

        // New Products Section
        .new-products {
            padding: 50px 20px;
            text-align: center;

            h2 {
                font-size: 36px;
                margin-bottom: 30px;
                color: $white;
            }

            .products-list {
                display: flex;
                justify-content: center;
                gap: 20px;

                .product-item {
                    background-color: $white;
                    width: 250px;
                    border-radius: 8px;
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                    padding: 20px;
                    text-align: center;

                    img {
                        max-width: 70%;
                        border-radius: 8px;
                        margin-bottom: 15px;
                    }

                    h3 {
                        font-size: 22px;
                        margin-bottom: 15px;
                        color: $dark-blue;
                    }

                    .btn-primary {
                        background-color: $dark-blue;
                        color: $white;
                        padding: 10px 20px;
                        border-radius: 5px;
                        text-decoration: none;

                        &:hover {
                            background-color: $light-blue;
                        }
                    }
                }
            }
        }
        /* Nouvelle section galerie */
.gallery-section {
    text-align: center;
    margin: 50px 0;

    h2 {
        font-size: 32px;
        margin-bottom: 20px;
        color: $white;
        margin-bottom: 45px;
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 images par ligne */
        gap: 20px; /* Espace entre les images */
        max-width: 1200px;
        margin: 0 auto;

        img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.05); /* Zoom léger au hover */
            }
        }
    }

    /* Responsive Design pour écrans plus petits */
    @media (max-width: 1024px) {
        .gallery-grid {
            grid-template-columns: repeat(3, 1fr); /* 3 images par ligne sur les tablettes */
        }
    }

    @media (max-width: 768px) {
        .gallery-grid {
            grid-template-columns: repeat(2, 1fr); /* 2 images par ligne sur les téléphones */
        }
    }

    @media (max-width: 480px) {
        .gallery-grid {
            grid-template-columns: 1fr; /* 1 image par ligne sur les petits écrans */
        }
    }
}

    }
    
    .footer {
        margin-top: 20px;
        background-color: $dark-blue;
        color: $white;
        text-align: center;
        padding: 20px 0;

        p {
            margin: 0;
        }
    }
}

/*-----------------------------------footer ----------------------------*/
footer {
    background-color: $dark-blue;
    color: $white;
    padding: 40px 20px;
    text-align: center;

    .footer-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto; //JP normalement c bon pour le scss
        padding: 0 20px;

        .footer-links, .footer-legal {
            flex: 1;
            min-width: 200px;

            h3 {
                font-size: 18px;
                margin-bottom: 15px;
                color: $light-blue;
            }

            ul {
                list-style: none;
                padding: 0;

                li {
                    margin-bottom: 10px;

                    a {
                        color: $white;
                        text-decoration: none;
                        transition: color 0.3s ease;

                        &:hover {
                            color: $light-blue;
                        }
                    }
                }
            }
        }

        .footer-copyright {
            flex-basis: 100%;
            margin-top: 20px;

            .footer-divider {
                border: none;
                height: 1px;
                background-color: $light-blue; // Couleur du trait
                margin: 15px 0; // Espacement autour du trait
            }

            p {
                margin: 0;
                font-size: 14px;
                color: $white;
            }
        }
    }
}


    /*--------------------------------CONTACT --------------------------------*/

.contact-page {
    
    background-size: cover; /* Ajuste l'imag e pour couvrir toute la zone */
    background-position: center; /* Centre l'image */
    background-attachment: fixed; /* L'image reste fixe lors du défilement */
    padding: 60px 0; /* Espace autour du contenu */
}

.contact-container {
    background-image: url('media/10.jpg');
    display: flex;
    justify-content:center;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    .contact-form-wrapper {
        width: 35%; /* Deux tiers de la largeur */
        background-color: lighten($yellow, 40%);
        border-radius: 12px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        padding: 30px;
        border: 2px solid $purple;
        box-shadow: 0 0 10px $orange;
        margin-top: 110px;
        margin-bottom: 50px;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .form-group {
            display: flex;
            flex-direction: column;
            text-align: left;

            label {
                margin-bottom: 5px;
                font-size: 16px;
                color: $dark-blue;
            }

            input, textarea {
                padding: 10px;
                border: 1px solid $light-blue;
                border-radius: 4px;
                font-size: 16px;
                width: 100%;
                background-color: lighten($light-blue, 50%);
                box-sizing: border-box;

                &:focus {
                    border-color: $purple;
                    outline: none;
                }
            }

            .required {
                color: $red;
            }
        }

        .btn-submit {
            padding: 10px 20px;
            background-color: $purple;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 18px;
            border-radius: 5px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: darken($purple, 10%);
            }
        }
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-form-wrapper {
        width: 100%;
    }
}




.cookie-banner {
    $banner-bg-color: rgba(0, 0, 0, 0.8);
    $banner-text-color: white;
    $accept-bg-color: #4CAF50;
    $accept-bg-hover: #45a049;
    $decline-bg-color: #f44336;
    $decline-bg-hover: #d32f2f;
    $font-size: 16px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $banner-bg-color;
  color: $banner-text-color;
  padding: 20px 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000;
  font-family: 'Arial', sans-serif;

  p {
    margin-bottom: 20px;
    font-size: $font-size;
    line-height: 1.5;
    color: white;

  }

  .cookie-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;

    .cookie-button {
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      border: none;
      font-size: $font-size;
      font-weight: bold;
      transition: background-color 0.3s ease;

      &.accept {
        background-color: $accept-bg-color;
        color: white;

        &:hover {
          background-color: $accept-bg-hover;
        }
      }

      &.decline {
        background-color: $decline-bg-color;
        color: white;

        &:hover {
          background-color: $decline-bg-hover;
        }
      }
    }
  }
}


 

// Variables pour les couleurs principales (facilite la maintenance et la cohérence des couleurs)
$background-light: #f8f9fa;
$background-dark: #333333;
$primary-color: #09205A;
$secondary-color: #6D10A3;
$link-color: #5395B8;
$white: #ffffff;
$box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);


// Section CGV (Conditions Générales de Vente)
.cgv-section,
.legal-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $background-light;
    padding: 50px;
}

// Container commun aux deux sections
.cgv-container,
.legal-container {
    margin-top: 75px;
    background-color: $white;
    border-radius: 8px;
    box-shadow: $box-shadow;
    max-width: 900px;
    padding: 40px;
    line-height: 1.8;

    h1 {
        font-size: 36px;
        color: $primary-color;
        margin-bottom: 30px;
        text-align: center;  
        font-family: 'Retrocket', sans-serif;
        }
    }

    h2 {
        font-size: 24px;
        color: $secondary-color;
        margin-bottom: 15px;
        font-family: 'Retroket', sans-serif;
    }

    p {
        font-size: 16px;
        color: #000000;
        margin-bottom: 20px;
        font-family: 'Retrovert',sans-serif;
    }

    a {
        color: $link-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }



body {
    margin: 0;
    padding: 0;
    background-color: #333333;
}

.log {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    
    .log-container {
        align-items: center;
        margin-top: 116px;
        width: 380px;
        padding: 40px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

    .form-box {
        width: 100%;

        h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
            font-size: 24px;
            margin-top: 10px;
        }

        .input-box {
            position: relative;
            margin-bottom: 30px;

            input {
                width: 100%;
                padding: 10px;
                background: none;
                border: none;
                border-bottom: 2px solid #aaa;
                outline: none;
                color: #333;
                font-size: 16px;
                transition: 0.3s;

                &:focus {
                    border-color: #333;
                }

                &:focus ~ label,
                &:valid ~ label {
                    top: -5px;
                    color: #333;
                    font-size: 12px;
                }
            }

            label {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                color: #aaa;
                pointer-events: none;
                transition: 0.3s;
            }
        }

        .btn {
            width: 100%;
            padding: 10px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: 0.3s;

            &:hover {
                background-color: #555;
            }
        }

        .switch-form {
            text-align: center;
            margin-top: 15px;
            font-size: 14px;

            a {
                color: #333;
                text-decoration: none;
                font-weight: bold;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
}
/* Media Queries */
@media (max-width: 400px) {
    .container {
        width: 100%;
        padding: 20px;
    }
}

